<div class="modal fade" id="likedMoviesModal" tabindex="-1" aria-labelledby="likedMoviesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="likedMoviesModalLabel">Liked Movies</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div id="likedMoviesList">
                    <!-- Liked movie details will be dynamically inserted here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="copyToWhatsApp" class="btn btn-success">Copy to WhatsApp</button>
            </div>
        </div>
    </div>
</div>