<div class="background-image">

</div>
<nav class="navbar navbar-expand-lg bg-black" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MovieScout</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movie_chat">Movie Chat</a>
                </li>
            </ul>
            <!-- Heart icon with liked movies count that triggers the modal -->
            <div class="nav-item">
                <a class="nav-link text-white" href="#" id="likedMovies" data-bs-toggle="modal" data-bs-target="#likedMoviesModal">
                    ❤️ <span id="likedMoviesCount">0</span>
                </a>
            </div>
        </div>
    </div>
</nav>

