<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieScout - Find Similar Movies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static//css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        <div class="background-image">

        </div>
        <!-- Navbar with background image -->
        <nav class="navbar navbar-expand-lg bg-black" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand " href="#">MovieScout</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item" >
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container h-100 search-container">
            <!-- Arama Formu -->
            <div class="row-md-2 d-flex justify-content-center align-items-center mt-5">
                <div class="col-md-8 col-sm-10 height mt-5">
                    <div class="form mt-5">
                        <form id="searchForm"  method = "post">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control form-input" id="searchInput" placeholder="Search anything..." name = "movieName" id="movieName">
                        <span class="left-pan"><i class="fa fa-arrow-right"></i></span>
                        <div id="searchResults" class="dropdown-menu">
                            <!-- Results appear here -->
                        </div>
                        </form>
                    </div>
                </div>
            </div>
    
            <!-- Film Posterleri -->
            <div class="row-md-6  d-flex justify-content-center align-items-center search-results">
            </div>
            <div class="row-md-6 d-flex justify-content-center align-items-center mt-2">
            <button type="button" class="btn btn-danger" id="findSimilarMoviesBtn">Search Similar Movies</button>
            </div>
        </div>
        <script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
    // Array to keep track of selected movies
    let selectedMovies = [];

    // Handle typing in the search input field and make an AJAX request
    $('#searchInput').on('keyup', function () {
        const movieName = $(this).val();

        if (movieName.length === 0) {
            $('#searchResults').empty().removeClass('show');
            return;
        }

        $.ajax({
            url: '/search_movies', // Flask API endpoint
            type: 'POST',
            data: { movieName: movieName },
            success: function (response) {
                const dropdown = $('#searchResults');
                dropdown.empty(); // Clear previous results

                if (response.length) {
                    // Create dropdown items dynamically for each movie result
                    response.forEach(movie => {
                        dropdown.append(`
                            <a href="#" class="dropdown-item" data-title="${movie.title}" data-poster="${movie.poster_path}">
                                <img src="https://image.tmdb.org/t/p/w200/${movie.poster_path}" alt="${movie.title}" class="img-fluid" style="max-width: 40px; margin-right: 10px;">
                                ${movie.title}
                            </a>
                        `);
                    });
                    dropdown.addClass('show'); // Show dropdown
                } else {
                    dropdown.removeClass('show'); // Hide if no results
                }
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    // Handle click on a dropdown item
    $(document).on('click', '#searchResults .dropdown-item', function (e) {
        e.preventDefault();  // Prevent the default action

        const title = $(this).data('title');
        const posterUrl = $(this).data('poster');

        // Check if the movie is already in the selectedMovies array to avoid duplicates
        if (!selectedMovies.some(movie => movie.title === title)) {
            // Add movie details to the selectedMovies array
            selectedMovies.push({ title: title, poster: posterUrl });

            // Add the movie poster to the search-results section
            const movieHtml = `
                <div class="poster d-flex justify-content-center align-items-center bg-black position-relative" data-title="${title}">
                    <img src="https://image.tmdb.org/t/p/w200/${posterUrl}" alt="${title}" class="img-fluid mx-auto d-block">
                    <!-- Delete button -->
                    <button class="delete-btn position-absolute top-0 end-0 p-1 bg-dark text-white">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            `;
            $('.search-results').append(movieHtml); // Append to the search-results section
        }
    });

    // Handle removal of poster on delete button click
    $(document).on('click', '.delete-btn', function () {
        const title = $(this).closest('.poster').data('title');

        // Remove the movie from selectedMovies array
        selectedMovies = selectedMovies.filter(movie => movie.title !== title);

        // Remove the poster container from the DOM
        $(this).closest('.poster').remove();
    });

    // Hide dropdown if clicked outside
    $(document).on('click', function (e) {
        if (!$(e.target).closest('.dropdown').length) {
            $('#searchResults').removeClass('show');
        }
    });

    // Example: Log the selectedMovies array to the console to see the current list
    // You can replace this with any other action as needed
    $('#findSimilarMoviesBtn').on('click', function() {
        console.log("Selected Movies:", selectedMovies);
    });
});

$('#findSimilarMoviesBtn').on('click', function () {
    const selectedMovies = $('.search-results .poster');
    const movieIds = [];

    // Gather the titles of selected movies
    selectedMovies.each(function () {
        const movieTitle = $(this).data('title');
        movieIds.push(movieTitle);
    });

    // Make an AJAX request to find similar movies
    $.ajax({
        url: '/find_similar_movies', 
        type: 'POST',
        data: { 'movies[]': movieIds },  // Send selected movie titles as an array
        traditional: true,  // Ensures array is sent in correct format
        success: function(response) {
            window.location.href = '/similar_movies';
        },
        error: function(error) {
            console.log('Error:', error);
        }
    });
});


        </script>
    </body>
</html>
