<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieScout - Find Similar Movies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static//css/styles.css">
        <link rel="stylesheet" href="../static//scss/global.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        
        {% include 'navbar.html' %}
        
        <div class="demo mt-3">
            <div class="demo__content">
              <div class="demo__card-cont">
                {% if recommendations %}
                {% for movie in recommendations %}
                <div class="demo__card"data-movie-title="{{ movie['title'] }}"data-movie-similarity="{{ (movie['similarity_score'] * 100) | round(1) }}"data-movie-release="{{ movie['release_date'][:4] }}"data-movie-genres="{{ movie['genres'] }}"data-movie-overview="{{ movie['overview'] }}"data-movie-poster="{{ movie['poster_path'] }}"data-movie-vote="{{ movie['vote_average'] }}">
                    <div class="d-flex flex-column justify-content-center align-items-center demo__card__top bg-black rounded-top-3" style="position: relative;">
                        <!-- Similarity Score -->
                        <div class="similarity-score position-absolute top-0 end-0 p-2 text-white rounded-3 me-3 mt-3 
                            {% if movie['similarity_score']*100 <= 5 %}
                                low-similarity
                            {% elif movie['similarity_score']*100 <= 10 %}
                                medium-similarity
                            {% elif movie['similarity_score']*100 <= 15 %}
                                high-similarity
                            {% else %}
                                very-high-similarity
                            {% endif %}
                        " style="z-index: 10;">
                            <i class="
                                {% if movie['similarity_score']*100 <= 5 %}
                                    fa fa-thumbs-down
                                {% elif movie['similarity_score']*100 <= 10 %}
                                    fa fa-thumbs-up
                                {% elif movie['similarity_score']*100 <= 15 %}
                                    fa fa-star
                                {% else %}
                                    fa fa-fire 
                                {% endif %}
                            "></i>
                        </div>
                    
                        <!-- Background image with blur -->
                        <img src="https://image.tmdb.org/t/p/w500/{{ movie['backdrop_path'] }}" class="img-fluid demo__card__img rounded-top-3 position-absolute top-0 start-0" style="width: auto; height: 100%; filter: blur(1px); -webkit-filter: blur(1px); opacity: 0.6;">
                        
                        <!-- Poster image -->
                        <img src="https://image.tmdb.org/t/p/w200/{{ movie['poster_path'] }}" class="img-fluid demo__card__img m-3 rounded-3 position-absolute bottom-0 start-0">
                    </div>
                    
                    
                    
                    <!-- Alt bölüm için içerik düzeni -->
                    <div class="demo__card__btm bg-black p-3 rounded-bottom-3">
                        <div class="container">
                            
                            <div class="row">
                                
                                
                                <div class="col-12">
                                    <!-- Başlık için daha büyük font ve border altı -->
                                    <p class="demo__card__we text-white rounded position-relative top-0 start-0 fw-bold pb-2 mb-2" style="font-size: 1.1rem; line-height: 1.5rem;">{{ movie['title'] }}</p>
                                </div>
                                <div class="col-12">
                                    <!-- Açıklama için küçük font ve border altı -->
                                    <p class="demo__card__we text-white position-relative top-0 start-0 pb-2 mb-2" style="font-size: 0.8rem; line-height: 1.2rem; border-bottom: 0.1rem rgba(255,255,255,0.1) solid; 
                                    display: -webkit-box;line-clamp:6; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden; height: 7.2rem;">
                                        {{ movie['overview'] }}
                                    </p>
                                </div>
                                <div class="col-12">
                                    <!-- Tarih ve tür için küçük font ve border altı -->
                                    <p class="demo__card__we text-white position-relative top-0 start-0 pb-2 mb-2" style="font-size: 0.8rem; line-height: 1.2rem; border-bottom: 0.1rem rgba(255,255,255,0.1) solid;">
                                        {{ movie['release_date'][:4] }} | {{ movie['genres'] }}
                                    </p>
                                </div>
                
                                <div class="col-12 d-flex align-items-center">
                                    <span class="text-warning fs-3 me-2">
                                        {% set stars = (movie['vote_average'] / 2) | round(0) %}
                                        {% for i in range(5) %}
                                            {% if i < stars %}
                                                ★
                                            {% else %}
                                                ☆
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    <span class="text-white fs-6">
                                        ({{ (movie['vote_average'] / 2) | round(1) }})
                                    </span>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- Card choices -->
                    <div class="demo__card__choice m--reject"></div>
                    <div class="demo__card__choice m--like"></div>
                    <div class="demo__card__drag"></div>
                </div>

                {% endfor %}
                {% else %}
                <p>No recommendations available.</p>
                {% endif %}

              </div>
            </div>
          </div>
          {% include 'modal.html' %}
          
    


        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <script src="{{url_for('static', filename='js/similar_movies.js')}}"></script>
    </body>
</html>
