<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieScout - Find Similar Movies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static//css/styles.css">
        <link rel="stylesheet" href="../static//scss/global.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        <div class="background-image">

        </div>
        <!-- Navbar with background image -->
        <nav class="navbar navbar-expand-lg bg-black" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MovieScout</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <!-- Heart icon with liked movies count that triggers the modal -->
                    <div class="nav-item">
                        <a class="nav-link text-white" href="#" id="likedMovies" data-bs-toggle="modal" data-bs-target="#likedMoviesModal">
                            ❤️ <span id="likedMoviesCount">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="demo mt-3">
            <div class="demo__content">
              <div class="demo__card-cont">
                {% if recommendations %}
                {% for movie in recommendations %}
                <div class="demo__card"data-movie-title="{{ movie['title'] }}"data-movie-similarity="{{ (movie['similarity_score'] * 100) | round(1) }}"data-movie-release="{{ movie['release_date'][:4] }}"data-movie-genres="{{ movie['genres'] }}"data-movie-overview="{{ movie['overview'] }}"data-movie-poster="{{ movie['poster_path'] }}"data-movie-vote="{{ movie['vote_average'] }}">
                    <div class="d-flex flex-column justify-content-center align-items-center demo__card__top bg-black rounded-top-3" style="position: relative;">
                        <!-- Similarity Score -->
                        <div class="similarity-score position-absolute top-0 end-0 p-2 text-white rounded-3 me-3 mt-3 
                            {% if movie['similarity_score']*100 <= 5 %}
                                low-similarity
                            {% elif movie['similarity_score']*100 <= 10 %}
                                medium-similarity
                            {% elif movie['similarity_score']*100 <= 15 %}
                                high-similarity
                            {% else %}
                                very-high-similarity
                            {% endif %}
                        " style="z-index: 10;">
                            <i class="
                                {% if movie['similarity_score']*100 <= 5 %}
                                    fa fa-thumbs-down
                                {% elif movie['similarity_score']*100 <= 10 %}
                                    fa fa-thumbs-up
                                {% elif movie['similarity_score']*100 <= 15 %}
                                    fa fa-star
                                {% else %}
                                    fa fa-fire 
                                {% endif %}
                            "></i>
                        </div>
                    
                        <!-- Background image with blur -->
                        <img src="https://image.tmdb.org/t/p/w500/{{ movie['backdrop_path'] }}" class="img-fluid demo__card__img rounded-top-3 position-absolute top-0 start-0" style="width: auto; height: 100%; filter: blur(1px); -webkit-filter: blur(1px); opacity: 0.6;">
                        
                        <!-- Poster image -->
                        <img src="https://image.tmdb.org/t/p/w200/{{ movie['poster_path'] }}" class="img-fluid demo__card__img m-3 rounded-3 position-absolute bottom-0 start-0">
                    </div>
                    
                    
                    
                    <!-- Alt bölüm için içerik düzeni -->
                    <div class="demo__card__btm bg-black p-3 rounded-bottom-3">
                        <div class="container">
                            
                            <div class="row">
                                
                                
                                <div class="col-12">
                                    <!-- Başlık için daha büyük font ve border altı -->
                                    <p class="demo__card__we text-white rounded position-relative top-0 start-0 fw-bold pb-2 mb-2" style="font-size: 1.1rem; line-height: 1.5rem;">{{ movie['title'] }}</p>
                                </div>
                                <div class="col-12">
                                    <!-- Açıklama için küçük font ve border altı -->
                                    <p class="demo__card__we text-white position-relative top-0 start-0 pb-2 mb-2" style="font-size: 0.8rem; line-height: 1.2rem; border-bottom: 0.1rem rgba(255,255,255,0.1) solid; 
                                    display: -webkit-box;line-clamp:6; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden; height: 7.2rem;">
                                        {{ movie['overview'] }}
                                    </p>
                                </div>
                                <div class="col-12">
                                    <!-- Tarih ve tür için küçük font ve border altı -->
                                    <p class="demo__card__we text-white position-relative top-0 start-0 pb-2 mb-2" style="font-size: 0.8rem; line-height: 1.2rem; border-bottom: 0.1rem rgba(255,255,255,0.1) solid;">
                                        {{ movie['release_date'][:4] }} | {{ movie['genres'] }}
                                    </p>
                                </div>
                
                                <div class="col-12 d-flex align-items-center">
                                    <span class="text-warning fs-3 me-2">
                                        {% set stars = (movie['vote_average'] / 2) | round(0) %}
                                        {% for i in range(5) %}
                                            {% if i < stars %}
                                                ★
                                            {% else %}
                                                ☆
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    <span class="text-white fs-6">
                                        ({{ (movie['vote_average'] / 2) | round(1) }})
                                    </span>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- Card choices -->
                    <div class="demo__card__choice m--reject"></div>
                    <div class="demo__card__choice m--like"></div>
                    <div class="demo__card__drag"></div>
                </div>

                {% endfor %}
                {% else %}
                <p>No recommendations available.</p>
                {% endif %}

              </div>
            </div>
          </div>
          <!-- End of Recommendations Modal -->
          <div class="modal fade" id="endOfRecommendationsModal" tabindex="-1" aria-labelledby="endOfRecommendationsModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="endOfRecommendationsModalLabel">End of Recommendations</h5>
                    </div>
                    <div class="modal-body">
                        You’ve viewed all recommended movies. Click below to go back to the home page.
                    </div>
                    <div class="modal-footer">
                        <a href="/" class="btn btn-primary">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
        

          <!-- Modal for Liked Movies -->
        <div class="modal fade" id="likedMoviesModal" tabindex="-1" aria-labelledby="likedMoviesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="likedMoviesModalLabel">Liked Movies</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <div id="likedMoviesList">
                            <!-- Liked movie details will be dynamically inserted here -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        </div>
        <script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
        $(document).ready(function() {
        var animating = false;
        var cardsCounter = 0;
        var numOfCards = 10;
        var decisionVal = 80;
        var pullDeltaX = 0;
        var deg = 0;
        var $card, $cardReject, $cardLike;
        var likedMovies = []; // List to hold liked movie details

        // Function to update liked movies count in the navbar
        function updateLikedMoviesCount() {
            $("#likedMoviesCount").text(likedMovies.length);
        }

        // Function to render the liked movies list in the modal
        function updateLikedMoviesList() {
            const $likedMoviesList = $("#likedMoviesList");
            $likedMoviesList.empty(); // Clear the list

            // Add each liked movie's details as a card
            likedMovies.forEach(function(movie) {
                $likedMoviesList.append(`
                    <div class="liked-movie-card bg-dark text-white p-3 rounded mb-3">
                        <div class="d-flex align-items-center">
                            <img src="https://image.tmdb.org/t/p/w200/${movie.poster_path}" class="img-fluid rounded me-3" style="width: 100px;">
                            <div>
                                <h5 class="fw-bold mb-1">${movie.title}</h5>
                                <p class="mb-1">Similarity: ${movie.similarity_score}%</p>
                                <p class="mb-1">${movie.release_date} | ${movie.genres}</p>
                                <p class="mb-1">Rating: ${movie.vote_average} / 10 (${movie.vote_average / 2} stars)</p>
                            </div>
                        </div>
                        <p class="mt-3" style="font-size: 0.9rem;">${movie.overview}</p>
                    </div>
                `);
            });
        }

        // Function to update the likedMovies cookie
        function setCookie(name, value, days) {
            const expires = new Date();
            expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
            document.cookie = `${name}=${encodeURIComponent(value)}; expires=${expires.toUTCString()}; path=/`;
        }

        // Function to get the value of a cookie by name
        function getCookie(name) {
            const nameEQ = name + "=";
            const ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
            }
            return null;
        }

        // Load liked movies from the cookie if available
        const likedMoviesCookie = getCookie("likedMovies");
        if (likedMoviesCookie) {
            likedMovies = JSON.parse(likedMoviesCookie);
            console.log("Loaded liked movies from cookie:", likedMovies);
            updateLikedMoviesCount();
            updateLikedMoviesList();
        }

        function pullChange() {
            animating = true;
            deg = pullDeltaX / 10;
            $card.css("transform", "translateX(" + pullDeltaX + "px) rotate(" + deg + "deg)");

            var opacity = pullDeltaX / 100;
            var rejectOpacity = (opacity >= 0) ? 0 : Math.abs(opacity);
            var likeOpacity = (opacity <= 0) ? 0 : opacity;
            $cardReject.css("opacity", rejectOpacity);
            $cardLike.css("opacity", likeOpacity);
        }

        function release() {
            if (pullDeltaX >= decisionVal) {
                $card.addClass("to-right");

                // Collect movie details from data attributes
                const movieDetails = {
                    title: $card.data("movie-title"),
                    similarity_score: $card.data("movie-similarity"), 
                    release_date: $card.data("movie-release"),
                    genres: $card.data("movie-genres"),
                    overview: $card.data("movie-overview"),
                    poster_path: $card.data("movie-poster"),
                    vote_average: $card.data("movie-vote")
                };

                // Check if the movie already exists in the likedMovies array
                const isMovieLiked = likedMovies.some(movie => movie.title === movieDetails.title);

                if (!isMovieLiked) {
                    // Add the movie to the list if not already liked
                    likedMovies.push(movieDetails);
                    updateLikedMoviesCount();
                    updateLikedMoviesList();

                    // Store likedMovies list in a cookie (for 7 days)
                    setCookie("likedMovies", JSON.stringify(likedMovies), 7);
                }
            } else if (pullDeltaX <= -decisionVal) {
                $card.addClass("to-left");
            }

            if (Math.abs(pullDeltaX) >= decisionVal) {
                $card.addClass("inactive");

                setTimeout(function() {
                    $card.addClass("below").removeClass("inactive to-left to-right");
                    cardsCounter++;
                    if (cardsCounter === numOfCards) {
                        cardsCounter = 0;
                        $(".demo__card").removeClass("below");

                        // When all cards are swiped, show the end of recommendations modal
                        $('#endOfRecommendationsModal').modal('show');
                    }
                }, 300);
            }

            if (Math.abs(pullDeltaX) < decisionVal) {
                $card.addClass("reset");
            }

            setTimeout(function() {
                $card.attr("style", "").removeClass("reset")
                    .find(".demo__card__choice").attr("style", "");

                pullDeltaX = 0;
                animating = false;
            }, 300);
        }

        $(document).on("mousedown touchstart", ".demo__card:not(.inactive)", function(e) {
            if (animating) return;

            $card = $(this);
            $cardReject = $(".demo__card__choice.m--reject", $card);
            $cardLike = $(".demo__card__choice.m--like", $card);
            var startX = e.pageX || e.originalEvent.touches[0].pageX;

            $(document).on("mousemove touchmove", function(e) {
                var x = e.pageX || e.originalEvent.touches[0].pageX;
                pullDeltaX = (x - startX);
                if (!pullDeltaX) return;
                pullChange();
            });

            $(document).on("mouseup touchend", function() {
                $(document).off("mousemove touchmove mouseup touchend");
                if (!pullDeltaX) return; // prevents from rapid click events
                release();
            });
        });
    });






        </script>
    </body>
</html>
